/*UNIDAD 1*/
.contenido #propi ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #refe ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #especi ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #anima ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #dom ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #refere ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #piedad ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #event ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #list ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #etique ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}
.contenido #med ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    list-style: circle;
}

/*UNIDAD 2*/
.contenido #prow ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-bottom: 10px;
    list-style: circle;
}
.contenido #svg ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-bottom: 10px;
    list-style: circle;
    margin-bottom: 10px;
}
.contenido #uni ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-bottom: 10px;
    list-style: circle;
}
.contenido #tipo ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-bottom: 10px;
    list-style: circle;
}
.contenido #formu ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-bottom: 10px;
    list-style: circle;
}
.contenido #rese ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    list-style: circle;
}
.contenido #norma ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    list-style: circle;
}
.contenido #vari ul li{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    list-style: circle;
}
