/*UNIDAD 1 */
.contenido #Hola p{ 
    width: 40%;
margin-left: 10%;
font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
float: left;}
.contenido #Hola img{
    width: 35%;
margin-left: 7%;
height: 350px;
float: left;}
.contenido #hol p{
      width: 70%;
    margin-left: 15%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
}
.contenido p{margin-bottom: 10px;}
.contenido #propi p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #refe p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #especi p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #anima p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #dom p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #refere p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #piedad p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #event p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
}
.contenido #list p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #etique p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #med p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom:;
}
/*UNIDAD 2 */
.contenido #prow p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #svg p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #uni p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #tipo p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #formu p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #rese p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #norma p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #med p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}
.contenido #vari p{
    width: 80%;
    margin-left: 5%;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
     margin-top: 10px;
    margin-bottom: 20px;
}